@use 'variables' as *;

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__buttons {
    display: flex;
    padding: 10px;
    border: 1px solid #DCF1A7;
    border-radius: 8px;
    gap: 5px;
  }

  &__button {
    padding: 10px 24px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
    border: 0;
    outline: 0;
    border: 2px solid transparent;
    transition-duration: $transitionDuration;

    &--active {
      background-color: #234338;
      border: 2px solid #234338;
      color: #fff;

      &:hover {
        opacity: .5;
      }
    }

    &:hover {
      border: 2px solid #234338;
    }
  }

  &__content {
    display: none;
    width: 100%;

    &--active {
      display: block;
    }
  }
}

.experts {
  .tabs__button {
    color: #fff;
    &:hover {
      background-color: #2C5446!important;
      border: 2px solid #356554;
    }
  }
  .tabs__button--active {
    background-color: #2C5446!important;
    border: 2px solid #356554;
  }
}