@use 'variables' as *;
@use 'mixins' as *;
@use 'header';
@use 'footer';
@use 'hero';
@use 'features';
@use 'our-blogs';
@use 'slider';
@use 'pricing';
@use 'text';
@use 'our-story';
@use 'banner';
@use 'experts';
@use 'cards';
@use 'table';
@use 'single';
@use 'filter';


// Підключення стилів аккордіону
@use 'accordion';

// Підключення стилів табів
@use 'tabs';

// Підключення стилізації модальних вікон та поп-апів
// @use 'modal';

// Підключення базової стилізації кастомного селекту
// @use 'customSelect';

// За потреби можна підключати анімації за клосом
// @use 'animation';

// Для стартових налаштувнань теми
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
    background-color: $bgColor;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}


// Обмежуючий контейнер - цей контейнер часто зустрічається в проектах, якщо сайт має певну геометрію.
[class*='__container'] {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


// Застосування стилів для посилання: колір, час анімації, активний стан.
a {
    color: $linkColor;
    text-decoration: none;
    transition-duration: $transitionDuration;
}

a:hover {
    color: $linkHoverColor;
}

a:active {
    color: $activeColor;
}

// Застосування стилів для кнопкки з класом .button
.button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: $transitionDuration;
    padding: 12px 16px;
    border-radius: $buttonBorderRadius;
    cursor: pointer;
    border: 0;
    outline: 0;

    &--green {
        background-color: #CBEA7B;
        border: 2px solid #CBEA7B;
        color: #333;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        /* 21/14 */
    }

    &--lightgreen {
        background-color: #F6FBE9;
        border: 2px solid #E5F5BD;
        color: #333;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        /* 21/14 */
    }
}

.button:hover {
    border: 2px solid #CBEA7B;
    background-color: transparent;
}

.button:active {
    border: 2px solid #CBEA7B;
    background-color: transparent;
}

// Загальні стилі для списків
ol,
ul {
    padding-left: 20px;

    li:not(:last-child) {
        padding-bottom: 15px;
    }
}


.no-scroll {
    overflow: hidden;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.title {
    color: #1a3129;
    font-size: clamp(38px, 5vw, 58px);
    font-weight: 700;
}

h2.title {
    color: #1a3129;
    font-size: clamp(28px, 5vw, 48px);
    font-weight: 700;
}
